* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Float */
.fL {
  float: left;
}
.fR {
  float: right;
}

/* Clear */
.clr {
  clear: both;
}

.clr-L {
  clear: left;
}

/* Button */
.btn {
  background-color: rgb(16, 125, 226);
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
}

/* display: Inline */
.iL {
  display: inline;
}

/* Icons */
.icon {
  width: 50px;
}

body {
  background-image: url("../img/bg-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 30px;
}

.logo {
  padding: 5px 10px;
}

nav li {
  float: left;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
.header-label{
  margin-top: 10px;
}
nav a {
  padding: 10px 15px;*
}

.heading {
  text-align: center;
  margin: 60px 0px;
  line-height: 50px;
}

article {
  width: 22%;
  display: inline-block;
  background-color: #fff;
  padding: 40px 20px;
  margin-left: 20px;
}

section {
  float: left;
}

header div {
  width: 20%;
}

header nav {
  width: 70%;
}
