* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contetn-box {
  height: 100vh;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  padding: 10px;
}

.bg-blue {
  background-color: aquamarine;
}
.bg-crimson {
  background-color: crimson;
  color: white;
}
.bg-purple {
  background-color: purple;
  color: #fff;
}
.bg-green {
  background-color: olivedrab;
  color: #fff;
}

.navbar h1 {
  float: left;
}

.navbar ul {
  float: right;
}

.navbar li {
  padding: 15px 15px;
  list-style: none;
  float: left;
}

.heading {
  clear: both;
  margin: 100px 0px 50px 0px;
}

.gallery img {
  width: 200px;
  height: 200px;
  margin-top: 50px;
}

.contact a {
  display: block;
  text-decoration: none;
  color: whitesmoke;
  padding: 10px 10px;
}

.home .heading {
  margin-top: 300px;
}

.about .services li {
  list-style: none;
  padding: 15px;
  display: inline-block;
  border: 1px solid #fff;
  margin: 0 20px;
}
